[Unit]
After=network.service
Description= Remote Pi Reset

[Service]
Type=simple
# WorkingDirectory=/code/python/myapp
ExecStart=/SOME/PATH/TO//EXEC.sh #path to the executable file that calls the service
# User=do-user

[Install]
WantedBy=multi-user.target
# WantedBy=default.target
