[Unit]
After=network.service
Description=Remote Pi Reset

[Service]
Type=simple
# WorkingDirectory=/code/python/myapp
ExecStart=/SOME/PATH/TO/EXEC.sh
Restart=on-failure
RestartSec=10
# User=do-user

[Install]
WantedBy=multi-user.target
# WantedBy=default.target
